<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->



<!DOCTYPE html>
<html>



<!-- Head -->
<head>

<title> Smart5G </title>

<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="E-Shop Coming soon Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->
<%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
<!-- Style -->
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application' %>
<!-- //Style -->

<!-- Fonts -->
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:400,700'             type="text/css" media="all">
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' type="text/css" media="all">
<!-- Fonts -->

<!-- Font-Awesome-Icons-File -->
<link rel="stylesheet" href="fonts/fontawesome-webfont.ttf" type="text/css" media="all">
<!-- //Font-Awesome-Icons-File -->

</head>
<!-- //Head -->



<!-- Body -->
<body>

	<div class="banner-info">
    <div class="container">
    <h1>MỘT DỰ ÁN CÔNG NGHỆ ĐÁNG CHỜ ĐỢI SẮP XUẤT HIỆN</h1>
	<p class="agile-cc">Chúng tôi đang hoàn thiện những bước cuối cùng để ra mắt trang web này. Stay Tuned!</p>
    </div>
    
    <div class="wrapper agileinfo">

        <div class="clock">
            <div class="column w3l days">
                <div class="timer w3" id="days"></div>
                <div class="aits text1">Ngày</div>
            </div>
            <div class="column w3">
                <div class="timer w3layouts" id="hours"></div>
                <div class="agileits text1">Giờ</div>
            </div>
         
            <div class="column wthree">
                <div class="timer w3las" id="minutes"></div>
                <div class="text1 aits">Phút</div>
            </div>
            
            <div class="column siteliga">
                <div class="timer stuoyal3w" id="seconds"></div>
                <div class="text1 wthree">Giây</div>
            </div>
        </div>
			 
        <div class="newsletter agile">
        <p class="agile-cc">Liên hệ:</p>
		<p><i class="fa fa-envelope-square"></i><a class="contact" href="mailto:benz@smart5g.vn">Benz De Boss</a>.<br></p>
        <p><i class="fa fa-phone"></i><a class="contact" href="tel:+84 978180117">(+84) 0978 180 117</a>.<br></p>
             
        </div> 
    <div class="w3top-nav-right">	
		<ul>
			
		</ul> 
	</div>		
    </div>
	
    <div class="footer">
        <p> &copy; 2020 Smart5G. All Rights Reserved | Made with heart by <a href="mailto:minhduc@smart5g.vn">Duc Pham</a></p>
		<div class="social-text">
		
		    <ul class="social-icons">
				<li><a href="https://www.facebook.com/smart5g.vn/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UC54va9dLmVV945DN9Ka44bg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
			</ul>
		</div>

	</div>
    </div>
</body>
<!-- //Body -->

</html>